header {
    background-color:transparent;
    top:20px;
    position: fixed;
    height:130px;
    padding-bottom:50px;
    display:flex;
    width:100%;
}

body {
    background-image: url("./background.png");
   background-size: cover;
    /* background: #0828CC; */
}

nav {
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    background-color:transparent;
}

.a {
    display: flex;
    width:100%;
    align-content: center;
    justify-content: center;
    background-color:transparent;
}

.b {
    color:white;
    height:100%;
    width: 15%;
    border-width: 5px;
    text-align: center;
    padding-top:auto;
    padding-bottom:auto;
    background-color:transparent;
}

.c {
    width:9%;
}

.subscribe {
    letter-spacing: 1px;
    font-family: arial;
    font-size: 11px;
    margin-left:90px;
    height: 42px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 40px
}

.stexp {
    margin-top: 20px;
    letter-spacing: 1px;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    color: #0828CC;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid white;
    border-radius: 40px
}

.logo {
    height: 38px;
    width: 187px;
    position: relative;
    margin-top:24px;
    margin-left:100px;
}

.logo img {
    height 100%;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    margin-top: 140px;
}

.mainlogo {
    width:40px;
    height:40px;
    margin-top:35px;
    margin-bottom: 25px;
}

p {
    letter-spacing: 1px;
    font-family: arial;
    font-size: 11px;
    color: white;
}

.spann {
    font-family: arial;
    color:white;
    font-weight:bold;
    font-size:55px;
}

.sub{
    color:white;
    font-family: 'arial';
    letter-spacing: 1px;
    font-weight: 100;
    width:50%;
    font-size: 14px;
    text-align: center;
    line-height:2;
    /* padding: 0px 0px 100px 0px; */
}

aside {
    display: flex;
    flex-direction: column;
    /* align-items: right;
    justify-content: flex-end; */
    height: 25vh;
    width: 93%;
    padding: 10px 10px 10px 1200px;
}

aside .social {
    margin: 4px;
    /* position: absolute; */
    /* right: 1000px; */
}

aside .social #icon {
    border: 1px solid white;
    border-radius: 50%;
}

aside .social #iconfb {
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
}
